# Entorno virtual
.venv/
venv/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de editor/IDE
.vscode/
.idea/

# Otros posibles temporales
*.swp
*.swo
